#portals-iframe {
    min-height: 500px;
}

#raise-request-dialog div.aui-dialog2-content {
    padding: 0;
    overflow: scroll;
}

.sdnav-trigger {
    padding-right: 20px;
}

.my-requests {
    float: right;
    left: 4px;
    background: #fff;
}

#sdnav_my_requests_link_lnk .my-requests {
    top: 2px;
}