<section role="dialog" id="raise-request-dialog" class="aui-layer aui-dialog2 aui-dialog2-xlarge" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Raise a request</h2>
        <div class="aui-dialog2-header-secondary">

        </div>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">
        <div id="portal-iframe-progress" class="aui-progress-indicator">
            <span class="aui-progress-indicator-value"></span>
        </div>
        <div class="content-root"></div>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="raise-request-close-button" class="aui-button aui-button-link">Close</button>
        </div>
        <div class="aui-dialog2-footer-hint"></div>
    </footer>
</section>